<table class="product_browse">
  <tr>
    <th>Name</th>
    <th>Pack</th>
    <th>Category</th>
    <th>Manufacturer</th>
  </tr>
<%= will_paginate @products %>
  
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.pack %></td>
    <td><%= product.category.name %></td>
    <td><%= product.manufacturer.name %></td>
  </tr>
<% end %>


</table>
<br />
<%= will_paginate @products %>
