<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%# f.fields_for :manufacturers do |m| %>
    <%#= m.collection_select(:manufacturer_id, Manufacturer.all, :id, :name) %>
  <%# end %>


  <div class="field">
    <%= f.label :manufacturer_id %><br />
    <%= f.collection_select :manufacturer_id, @manufacturers, :id, :name, {:prompt => true}, {"style" => "width:200px"} %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, @categories, :id, :name, {:prompt => true}, {"style" => "width:200px"} %>
  </div>

  <div class="field" id="sub_category_field">
    <%= f.label :sub_category_id %><br />
    <%= f.collection_select :sub_category_id, @sub_categories, :id, :name, {:prompt => true}, {"style" => "width:200px"} %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


