<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Pack:</b>
  <%= @product.pack %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @manufacturer.name %>
</p>

<p>
  <b>Category:</b>
  <%= @category.name %>
</p>

<p>
  <b>Sub Category:</b>
  <%= @sub_category.name %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
