<div class="logo">
  <%= link_to logo, root_path %>
</div>
<div class="nav">
  <ul id="<%= @current_page %>_page"> 
    <li><%= link_to "Admin", admin_path, :id => "admin_nav" %></li>
    <li><%= link_to "Contact", contact_path, :id => "contact_nav" %></li>
    <li><%= link_to "Products", products_page_path, :id => "products_page_nav" %></li>
    <li><%= link_to "About", about_path, :id => "about_nav" %></li>
    <li><%= link_to "Home", root_path, :id => "home_nav" %></li>
  </ul>
</div>
