<h2 class="info_head">
  Products
</h2>
<ul class="info_list">
  <li><%= link_to tick, products_page_path(:id => $baking_categories, :sup_cat_name => "baking") %> <%= link_to "Baking", products_page_path(:id => $baking_categories, :sup_cat_name => "baking") %></li>
  <li><%= link_to tick, products_page_path(:id => $dairy_categories, :sup_cat_name => "dairy") %> <%= link_to "Dairy", products_page_path(:id => $dairy_categories, :sup_cat_name => "dairy") %></li>
  <li><%= link_to tick, products_page_path(:id => $decorating_categories, :sup_cat_name => "decorating") %> <%= link_to "Decorating", products_page_path(:id => $decorating_categories, :sup_cat_name => "decorating") %></li>
  <li><%= link_to tick, products_page_path(:id => $fats_oils_categoies, :sup_cat_name => "fats & oils") %> <%= link_to "Fats & Oils", products_page_path(:id => $fats_oils_categoies, :sup_cat_name => "fats & oils") %></li>
  <li><%= link_to tick, products_page_path(:id => $fruit_nuts_categoies, :sup_cat_name => "fruit & nuts") %> <%= link_to "Fruit & Nuts", products_page_path(:id => $fruit_nuts_categoies, :sup_cat_name => "fruit & nuts") %></li>
  <li><%= link_to tick, products_page_path(:id => $non_edible_categoies, :sup_cat_name => "non edible") %> <%= link_to "Non Edible", products_page_path(:id => $non_edible_categoies, :sup_cat_name => "non edible") %></li>
  <li><%= link_to tick, products_page_path(:id => $other_consumables_categoies, :sup_cat_name => "other consumables") %> <%= link_to "Other Consumables", products_page_path(:id => $other_consumables_categoies, :sup_cat_name => "other consumables") %></li>
  <li><%= link_to tick, products_page_path(:id => $savoury_categoies, :sup_cat_name => "savoury") %> <%= link_to "Savoury", products_page_path(:id => $savoury_categoies, :sup_cat_name => "savoury") %></li>
  <li><%= link_to tick, products_page_path(:id => $sweet_categoies, :sup_cat_name => "sweet") %> <%= link_to "Sweet", products_page_path(:id => $sweet_categoies, :sup_cat_name => "sweet") %></li>
</ul>