<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <!-- BACKGROUND FOR EXPANDABLE HEADER -->
    <div class="header">
      <div class="container">
        <%= render 'layouts/header' %>
      </div>
    </div>
    <div class="main">
      <!-- CENTER CONTENT -->
      <div class="container">
        <section>
          <%= yield %>
        </section>
      </div>
    </div>
    <!--CLEAR FOOTER TO PREVENT BUNCHING-->
    <div class="clear"></div>
    <div class="footer">
      <div class="container_footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>