<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <!-- BACKGROUND FOR EXPANDABLE HEADER -->
    <div class="header">
      <div class="container">
        <%= render 'layouts/header' %>
      </div>
    </div>
    <div class="main">
      <!-- CENTER CONTENT -->
      <div class="container" id="container_main">
        <div class="container_sub_right">
          <%= render 'layouts/info_right' %>
        </div>
        <div class="container_sub_right">
          <%= render 'layouts/info_right_bottom' %>
        </div>
        <div class="container_sub_left">
          <section>
            <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </section>
        </div>
      </div>
    </div>
    <!--CLEAR FOOTER TO PREVENT BUNCHING-->
    <div class="clear"></div>
    <div class="footer">
      <div class="container_footer">
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>